<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webview" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".WebViewNormalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity android:name=".TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
