<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webview" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".ui.WebViewNormalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme"/>

        <activity android:name=".simple.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
    </application>
</manifest>
