<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.file" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>
        <activity android:name=".simple.TestThirdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme">
        </activity>
        <activity android:name=".simple.TestSecondActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme">
        </activity>
        <activity android:name=".simple.TestFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
