<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wu.safe.rtmp" >
    <application>
        <activity android:name="com.wu.safe.rtmp.ui.view.RtmpMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wu.safe.rtmp.ui.view.RtmpPublisherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.wu.safe.rtmp.ui.view.RtmpPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"/>
        <activity android:name="com.wu.safe.rtmp.ui.view.LivePlayerActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
