<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wutos.safe.rtmp" >
    <application>
        <activity android:name=".ui.view.RtmpMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.RtmpPublisherActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.view.RtmpPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.view.LivePlayerActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
